<section class="grid grid-cols-3 col-start-2 row-start-2 gap-x-5 lg:gap-x-16">
  <div class="delivery-info__item">
    <img src="/assets/img/icons/i-plane.svg" class="delivery-info__icon" alt="#" />
    <p class="c-text leading-normal">
      Доставка по России, Украине, Казахстану и Беларуси от 6 дней
    </p>
  </div>
  <div class="delivery-info__item">
    <img src="/assets/img/icons/i-box.svg" class="delivery-info__icon" alt="#" />
    <p class="c-text leading-normal">Бесплатная доставка почтой при заказе от 5000₽</p>
  </div>
  <div class="delivery-info__item">
    <img src="/assets/img/icons/i-card.svg" class="delivery-info__icon" alt="#" />
    <p class="c-text leading-normal">
      Оплата банковскими картами, электронными деньгами или безналичным расчетом для юр. лиц
    </p>
  </div>
</section>
