.order-info {
  &__select {
    @apply bg-no-repeat;

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L5 5L1 1' stroke='%23303030' stroke-width='1.4'/%3E%3C/svg%3E%0A");
    background-position: center right 0.5rem;
    @screen sm {
      background-position: center right 1.25rem;
    }
  }
  &__phone-box {
    grid-template-columns: 2fr 3fr;
    @screen sm {
      grid-template-columns: 1fr 2fr;
    }
    @screen lg {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
  &__list-box {
    @apply grid items-center lg:grid-flow-col gap-x-5 gap-y-2.5;

    grid-template-columns: 10rem 1fr;
  }
  &__delivery-item {
    @screen lg {
      grid-auto-columns: 18rem auto 1fr;
    }
  }
  &__error {
    @apply text-brand-red lg:col-span-1 col-span-2 lg:col-start-2 lg:row-start-2 text-xs sm:text-base;
  }
  &__checkbox-tick::after {
    @apply absolute border-b-2 border-l-2 border-brand-white opacity-0 transform -rotate-45 -skew-y-6;

    top: 4px;
    left: 3.5px;
    width: 13px;
    height: 8px;
    content: '';
  }
  &__radio-circle::after {
    @apply absolute border-brand-white opacity-0 top-1/2 left-1/2 w-2 h-2 bg-brand-white rounded-full transform -translate-x-1/2 -translate-y-1/2;

    content: '';
  }
  &__checkbox-tick:hover::after,
  &__radio-circle:hover::after {
    @apply opacity-50;
  }
  &__checkbox:checked + &__checkbox-tick,
  &__radio:checked + &__radio-circle {
    @apply bg-brand-red !important;
  }
  &__checkbox:checked + &__checkbox-tick::after,
  &__radio:checked + &__radio-circle::after {
    @apply opacity-100;
  }
}
