<app-header></app-header>
<app-menu></app-menu>
<main class="c-main gap-y-4 sm:gap-y-8 sm:pt-0 pt-4 pb-8">
  <app-page-header
    [title]="'Политика конфиденциальности'"
    [description]="'Вероятно, первое в России издательство, открытое IT&#8209;компанией.'"
    class="c-grid-container bg-brand-light-red relative col-start-2 overflow-hidden"
  >
  </app-page-header>

  <!-- Description -->
  <div class="about-page__container_desc c-grid-container bg-brand-light-grey col-start-2">
    <section class="about-page grid col-start-2 row-start-2 gap-y-5 sm:gap-y-8">
      <!-- Desc title -->
      <h2 class="c-title">Издательство ITSumma Press</h2>
      <!-- Desc content -->
    </section>
  </div>

  <!-- Contacts -->
  <div class="about-page__container_contacts c-grid-container col-start-2">
    <section class="about-page grid col-start-2 row-start-2 gap-y-8">
      <!-- Contacts title -->
      <h2 class="c-title">Контакты</h2>
      <!-- Contacts content -->
    </section>
  </div>
</main>
<app-footer></app-footer>
