<section class="page-header grid col-start-2 row-start-2 sm:gap-y-5">
  <app-breadcrumbs></app-breadcrumbs>
  <h1 class="text-3xl sm:text-5.5xl sm:self-end">{{ title }}</h1>
  <p class="sm:max-w-xs lg:max-w-md sm:text-xl font-light">{{ description }}</p>
  <picture
    class="sm:-right-24 max-h-48 sm:absolute bottom-0 lg:right-0 sm:max-w-sm md:max-w-md sm:max-h-full"
  >
    <img
      class="object-contain object-bottom w-full h-full"
      src="/assets/img/robot-book.png"
      alt="#"
    />
  </picture>
</section>
