<app-header></app-header>
<app-menu></app-menu>
<main class="c-main gap-y-4 sm:gap-y-8 sm:pt-0 pt-4 pb-8">
  <app-page-header
    [title]="'Политика приватности'"
    [description]="'ООО «Сумма АйТи Девелопмент» в отношении обработки персональных данных'"
    class="c-grid-container bg-brand-light-red relative col-start-2 overflow-hidden"
  >
  </app-page-header>

  <!-- Description -->
  <div class="privacy-page__container_desc c-grid-container bg-brand-light-grey col-start-2">
    <section class="privacy-page grid col-start-2 row-start-2 gap-y-5 sm:gap-y-8">
      <!-- Desc title -->

      <!-- Desc content -->
    </section>
  </div>
</main>
<app-footer></app-footer>
